@use "../abstract/abstract" as *;
@use "../components/headar--components/header" as *;
@use "../components/footer--components/footer" as *;
// ------------------------------------------------------
@use "../components/galery--components/section--1" as *;
@use "../components/galery--components/section--2" as *;
