$color1: rgba(255, 218, 218, 0.89);
$color2: rgb(240, 121, 170);
$color3: rgb(255, 101, 101);
$color4: rgb(185, 255, 226);
$color5: rgb(253, 209, 255);
$color6: rgb(191, 253, 255);
$color7: rgb(252, 255, 93) ;
$color8: rgb(241, 255, 161);

$font1: 1em;
$font2: 1.2em;
$font3: 1.4em;
$font4: 1.6em;
$font5: 2em;
$font6: 2.2em;
